In [23]:
!pip3 list

Package         Version
--------------- -------
cycler          0.10.0
kiwisolver      1.3.1
matplotlib      3.3.4
numpy           1.20.1
pandas          1.2.3
Pillow          8.1.2
pip             21.0.1
pyparsing       2.4.7
python-dateutil 2.8.1
pytz            2021.1
scipy           1.6.1
seaborn         0.11.1
setuptools      50.3.2
six             1.15.0
wheel           0.35.1

In [24]:
# Basic Libraries
import pandas as pd
import numpy as np 
import seaborn as sb 
import matplotlib.pyplot as plt 

%matplotlib inline

In [4]:
# Loading Data Set
tweets = pd.read_csv("../Datasets/pfi_bnt_tweets.csv")

## Initial Data Exploration

In [28]:
# First 10 Rows
tweets.head(10)

,id,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
0,1340539111971516416,Rachel Roh,"La Crescenta-Montrose, CA",Aggregator of Asian American news; scanning di...,2009-04-08 17:52:46,405,1692,3247,False,2020-12-20 06:06:44,Same folks said daikon paste could treat a cyt...,['PfizerBioNTech'],Twitter for Android,0,0,False
1,1338158543359250433,Albert Fong,"San Francisco, CA","Marketing dude, tech geek, heavy metal & '80s ...",2009-09-21 15:27:30,834,666,178,False,2020-12-13 16:27:13,While the world has been on the wrong side of ...,NaN,Twitter Web App,1,1,False
2,1337858199140118533,eliüá±üáπüá™üá∫üëå,Your Bed,"heil, hydra üñê‚ò∫",2020-06-25 23:30:28,10,88,155,False,2020-12-12 20:33:45,#coronavirus #SputnikV #AstraZeneca #PfizerBio...,"['coronavirus', 'SputnikV', 'AstraZeneca', 'Pf...",Twitter for Android,0,0,False
3,1337855739918835717,Charles Adler,"Vancouver, BC - Canada","Hosting ""CharlesAdlerTonight"" Global News Radi...",2008-09-10 11:28:53,49165,3933,21853,True,2020-12-12 20:23:59,"Facts are immutable, Senator, even when you're...",NaN,Twitter Web App,446,2129,False
4,1337854064604966912,Citizen News Channel,NaN,Citizen News Channel bringing you an alternati...,2020-04-23 17:58:42,152,580,1473,False,2020-12-12 20:17:19,Explain to me again why we need a vaccine @Bor...,"['whereareallthesickpeople', 'PfizerBioNTech']",Twitter for iPhone,0,0,False
5,1337852648389832708,Dee,"Birmingham, England","Gastroenterology trainee, Clinical Research Fe...",2020-01-26 21:43:12,105,108,106,False,2020-12-12 20:11:42,Does anyone have any useful advice/guidance fo...,NaN,Twitter for iPhone,0,0,False
6,1337851215875608579,Gunther Fehlinger,"Austria, Ukraine and Kosovo",End North Stream 2 now - the pipeline of corru...,2013-06-10 17:49:22,2731,5001,69344,False,2020-12-12 20:06:00,it is a bit sad to claim the fame for success ...,['vaccination'],Twitter Web App,0,4,False
7,1337850832256176136,Dr.Krutika Kuppalli,NaN,"ID, Global Health, VHF, Pandemic Prep, Emergin...",2019-03-25 04:14:29,21924,593,7815,True,2020-12-12 20:04:29,There have not been many bright days in 2020 b...,"['BidenHarris', 'Election2020']",Twitter for iPhone,2,22,False
8,1337850023531347969,Erin Despas,NaN,Designing&selling on Teespring. Like 90s Disne...,2009-10-30 17:53:54,887,1515,9639,False,2020-12-12 20:01:16,Covid vaccine; You getting it?\n\n #CovidVacci...,"['CovidVaccine', 'covid19', 'PfizerBioNTech', ...",Twitter Web App,2,1,False
9,1337842295857623042,Ch.Amjad Ali,Islamabad,#ProudPakistani #LovePakArmy #PMIK @insafiansp...,2012-11-12 04:18:12,671,2368,20469,False,2020-12-12 19:30:33,#CovidVaccine \n\nStates will start getting #C...,"['CovidVaccine', 'COVID19Vaccine', 'US', 'paku...",Twitter Web App,0,0,False

In [29]:
# Last 10 Rows
tweets.tail(10)

,id,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
6699,1366844645674807300,Maggie McFly,"Windham, CT","Mom, Veteran, sports fan, casino employee, art...",2009-07-31 02:44:50,110,273,4507,False,2021-03-02 20:15:32,1st dose of the #PfizerBioNTech #COVID19 vacci...,"['PfizerBioNTech', 'COVID19']",Twitter for iPhone,2,7,False
6700,1366843634620973058,David Williams,"Georgia, USA",College Professor/Saints Fan/Internet Radio St...,2011-02-15 14:49:02,234,1788,6064,False,2021-03-02 20:11:31,Shout out to @cvspharmacy for the exceptionall...,"['PfizerBioNTech', 'Lanett', 'Alabama']",Twitter for iPhone,0,0,False
6701,1366841327762223108,Kate üò∑,"Chicago, IL","Daughter, sister, aunt, flygirl. Activist, adv...",2014-08-10 17:51:46,86,589,11069,False,2021-03-02 20:02:21,Get your vaccine. Wear your mask. #COVID19Vacc...,"['COVID19Vaccine', 'PfizerBioNTech', 'firstdos...",Twitter for iPhone,0,1,False
6702,1366839546416144395,Kat,"Austin, TX",Progressive feminist; US Army Veteran; LGBTQ &...,2008-01-15 00:19:22,791,606,42277,False,2021-03-02 19:55:17,Covid-19 Live Updates: Merck Will Help Manufac...,NaN,Twitter Web App,0,0,False
6703,1366834425636470795,Mary Coll,"Limerick, Ireland",Unpredictable when provoked. Will always give ...,2017-09-07 21:24:01,667,140,5343,False,2021-03-02 19:34:56,My Mam is vaccinated! Feels like we just won t...,NaN,Twitter Web App,1,185,False
6704,1366828736616751106,Bernardo Pimentel,"Hamburg, Deutschland",Neurology resident & stroke scientist working ...,2019-04-13 09:01:06,73,148,385,False,2021-03-02 19:12:19,getting the 2nd vaccine shot against COVID is ...,NaN,Twitter for iPhone,0,1,False
6705,1366827957134630912,Chitown Buckeye,NaN,Political junkie turned activist thanks to ill...,2014-10-08 03:16:56,346,321,62716,False,2021-03-02 19:09:14,Just got dose 1 of my vaccine! Thanks #PfizerB...,['PfizerBioNTech'],Twitter for iPhone,0,0,False
6706,1366824521215393800,Irry,"Manchester, England","Speak less than you know,\nHave more than you ...",2013-10-22 08:33:19,668,328,10460,False,2021-03-02 18:55:34,Just vaccinating away. Wbu? #GetVaccinated #va...,"['GetVaccinated', 'vaccine', 'Pharmacist', 'Pf...",Twitter for Android,0,1,False
6707,1366823817881018380,Geoffo,Tewks,NaN,2009-05-27 21:17:26,253,838,744,False,2021-03-02 18:52:47,@MattHancock why do both of your friends keep ...,NaN,Twitter for iPhone,0,0,False
6708,1366787836096245769,Gulf News,United Arab Emirates,We don't just cover the news - we uncover the ...,2009-02-11 08:21:32,1200531,231,823,True,2021-03-02 16:29:48,The #DubaiHealthAuthority has expanded the age...,"['DubaiHealthAuthority', 'PfizerBioNTech']",TweetDeck,4,9,False

In [8]:
# Basic Statistics
tweets.describe()

,id,user_followers,user_friends,user_favourites,retweets,favorites
count,6.709000e+03,6.709000e+03,6709.000000,6709.000000,6709.000000,6709.000000
mean,1.350583e+18,3.681724e+04,1170.554330,14160.786406,1.604412,9.352064
std,8.659664e+15,3.093354e+05,2656.089377,41346.447171,14.059918,64.180006
min,1.337728e+18,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1.343515e+18,1.120000e+02,165.000000,405.000000,0.000000,0.000000
50%,1.349406e+18,4.860000e+02,465.000000,2251.000000,0.000000,1.000000
75%,1.356300e+18,2.117000e+03,1246.000000,10878.000000,1.000000,4.000000
max,1.369615e+18,1.371493e+07,99129.000000,924667.000000,678.000000,2315.000000

In [9]:
# Data Types
tweets.dtypes

id                   int64
user_name           object
user_location       object
user_description    object
user_created        object
user_followers       int64
user_friends         int64
user_favourites      int64
user_verified         bool
date                object
text                object
hashtags            object
source              object
retweets             int64
favorites            int64
is_retweet            bool
dtype: object

In [16]:
# Checking for missing Values
tweets.isnull().sum()

id                     0
user_name              0
user_location       1366
user_description     420
user_created           0
user_followers         0
user_friends           0
user_favourites        0
user_verified          0
date                   0
text                   0
hashtags            1658
source                 1
retweets               0
favorites              0
is_retweet             0
dtype: int64

In [25]:
''' 

Initial Obervations

1. Data set has 16 colums and 6709 rows.
2. Following Columns have missing values  = [user_location, user_description, hashtags, source].
3. Most of the Data is either of String or Integer Data type.
4. Some of the text data contain emojis.
5. The user_location column has absurd locations such as "Your Bed" or " The D".

'''

' \n\nInitial Obervations\n\n1. Data set has 16 colums and 6709 rows.\n2. Following Columns have missing values  = [user_location, user_description, hashtags, source].\n3. Most of the Data is either of String or Integer Data type.\n4. Some of the text data contain emojis.\n\n'